
// @use "./theme" as *;
// @debug 'style.scss $scopeClassName: #{$scopeClassName}';

@use "./base/base";

@layer site {

  @import "./site/rules/components/typography/fonts";  

  :where(a) {
    text-decoration: none;
  }

  :is(html, body, #outerWrap) {
    height:100%;
  }

  body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    color: var(--root-bg,var(--color-base-100));
  }


}



@layer site.components {
  @import "./site/rules/components/template/header";
  @import "./site/rules/components/template/nav";
  @import "./site/rules/components/hero";
  @import "./site/rules/components/login-signup";  
}