$scopeClassName: 'new'!default; 
$colorNamePrefix: 'color-'!default;
$colorIncludes: 'primary' 'secondary' 'tertiary' 'dark' 'grey'!default;
$useTailwindForColorOutput: true !default;
$generateSteppedColors: false !default;
$grey-tint-color: 'primary' !default;