@use "../../../base/mixins/utils/breakpoints" as *;

.c-account-form-login-signup {
    container-type: inline-size;
    .layout-grid > div {
        background-color: var(--color-tertiary);
        padding: var(--layout-gap);
        &:first-child {
            // grid-column: span 2;
            @include respond-to-container(3xl) {
                grid-column: span 2;
            }
        }
    }
    button[type="submit"] {
        width: max-content;
    }
}