$card-component-selectors: ".card"!default;
$card-picture-selectors: ".card-picture"!default;
$card-body-selectors: ".card-body"!default;
$card-content-selectors: ".card-body__content"!default;
$card-caption-selectors: ".card-body__caption"!default;
$card-title-selectors: ".card-body__content__caption-title"!default;
$card-subtitle-selectors: ".card-body__content__caption-subtitle"!default;
$card-body-ctas: ".card-body__content__ctas"!default;
$card-footer-selectors: ".card-footer"!default;

$card-title-heading-size: "xs"!default;