$collapse: "c-collapse"!default;
$collapse_title: "collapse-title"!default;
$collapse_content: "collapse-content"!default;
$collapse_icon_slot: "collapse-icon-slot"!default;
$collapse_icon: "collapse-icon"!default;
$collapse_icon_open: "collapse-icon-open"!default;
$collapse_icon_closed: "collapse-icon-closed"!default;