@use "../../../../base/mixins/utils/breakpoints" as bp;

.sticky-wrapper {
  background: var(--color-secondary);
  height: fit-content !important;
  position: sticky;
  top: 0;
  z-index: 10;
}

:is(.navMenu, .navMenu .primary, .quickSearch) {
  list-style-type: none;
}

.navMenu {
  // margin-inline: auto;
  flex: 1 1 auto;
  display: grid;
}

#navMenu {
  --edge-content-width: clamp(220px, 200px + 10vw, 320px);
  .loggedOut {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @include bp.respond-to(md-and-down) {
      flex-direction: column;
    }
    // flex-wrap: wrap;
  }
}

ul.primary {
  display: flex;
  // margin-inline: 0;
  padding: 0;
  @include bp.respond-to(lg) {
    margin-inline: auto;
  }
  a {
    --text-frame-y: 1.2em;
    display: inline-flex;
    color: white;
    padding: var(--text-frame-y) var(--text-frame-x);
    text-transform: uppercase;
    font-family: var(--font-family-heading);
    font-weight: var(--font-heading-weight);
    letter-spacing: 0.05em;
    text-align: center;
    line-height: 1;
  }
}

#search {
  display: flex;
  flex-direction: row;
  input {
    /// move this to input module styles
    // height:100%;
    appearance: none;
    border-color: transparent;
    border-radius: var(--radius) 0 0 var(--radius);
    --input-fs: var(--sm);
    --input-bg: transparent;
    --input-outline: transparent;
    --input-color: white;
    border: 0;
    width: 100%;
  }
  div:has(> button) {
    visibility: hidden;
    position: absolute;
  }
}

.quickSearch {
  display: flex;
  align-items: center;
  flex: 0 1 var(--edge-content-width);
  justify-content: center;
  @include bp.respond-to(md-and-down) {
    width: 100%;
    flex-basis: auto;
    flex-grow: 1;
    margin-bottom: calc(
      var(--space-md) / 2
    ); /// tie this to container width constraint
  }
  :is(form, #searchPrefix + div, .loggedOutSearch, .loggedOutSearch > span) {
    flex: 1 1 auto;
  }
}

#searchControls {
  display: contents;
}

:is(#searchControls > div, #searchPrefix) {
  display: flex;
}

#searchPrefix {
  &:before {
    content: "";
    display: inline-block;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 0 var(--radius) var(--radius) 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23FFF' d='m19.485 20.154l-6.262-6.262q-.75.639-1.725.989t-1.96.35q-2.402 0-4.066-1.663T3.808 9.503T5.47 5.436t4.064-1.667t4.068 1.664T15.268 9.5q0 1.042-.369 2.017t-.97 1.668l6.262 6.261zM9.539 14.23q1.99 0 3.36-1.37t1.37-3.361t-1.37-3.36t-3.36-1.37t-3.361 1.37t-1.37 3.36t1.37 3.36t3.36 1.37'/%3E%3C/svg%3E");
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    translate: 50% 0%;
  }
  span {
    display: none; /// visually hide this
  }
}

.navInner {
  width: min(var(--max-wrapper-width), 100% - var(--space-md));
  margin-inline: auto;
  @include bp.respond-to(lg) {
    padding-inline-start: var(--edge-content-width);
  }
}
